<h2>Contact</h2><a name="contact"></a>
<p>Shoot me an e-mail at 
<script>document.write('<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'&'+'#'+'1'+'0'+'9'+';'+'&'+'#'+'9'+'7'+';'+'&'+'#'+'1'+'0'+'5'+
';'+'l'+'t'+'o'+'&'+'#'+'5'+'8'+';'+'a'+'n'+'d'+'&'+'#'+'3'+'7'+';'+'7'+'2'+'e'+'&'+'#'+'1'+'1'+'9'+
';'+'&'+'#'+'6'+'4'+';'+'a'+'&'+'#'+'1'+'1'+'0'+';'+'d'+'%'+'7'+'2'+'e'+'w'+'&'+'#'+'1'+'1'+'2'+';'+
'%'+'6'+'5'+'d'+'l'+'&'+'#'+'1'+'0'+'1'+';'+'y'+'&'+'#'+'4'+'6'+';'+'%'+'6'+'3'+'o'+'m'+"'"+'>'+'a'+
'n'+'d'+'r'+'e'+'w'+'&'+'#'+'6'+'4'+';'+'a'+'&'+'#'+'1'+'1'+'0'+';'+'d'+'r'+'e'+'&'+'#'+'1'+'1'+'9'+
';'+'&'+'#'+'1'+'1'+'2'+';'+'e'+'d'+'&'+'#'+'1'+'0'+'8'+';'+'e'+'y'+'&'+'#'+'4'+'6'+';'+'c'+'&'+'#'+
'1'+'1'+'1'+';'+'&'+'#'+'1'+'0'+'9'+';'+'<'+'/'+'a'+'>');</script><noscript>[Turn on JavaScript to see the email address]</noscript>
</p><p>Or use this form to contact me</p>
<form method="post" action="@root_path">
	<br>
	<input type="text" name="name" value="Name" id="contactname" size="34">
	<br>
	<input type="text" name="email" value="E-Mail" id="contactemail" size="34">
	<br>
	<textarea cols="30" rows="5" name="message" id="contactmessage">Message</textarea>
	<br>
	<p><input type="submit" value="Send"></p>
	</form>
</form>