if $siblings do
  <a name="projects"></a>
  <ol id="projects" class="col eight">
  foreach $siblings do
    <li class="col eight" id="proj@number">
			<h2 onClick='toggleProject("@number")'>
				<a name="project@number"></a>@title</a>
			</h2>  
        <em class="date">@date</em>
        
			  <div id="projdata@number">
				if @thumb do <img src="@thumb" class="thumb" alt=""> endif
				
  				@content
  				if $images do
  				  <div id="images@number">
      				:images
    				</div>
    			endif
				</div>
		</li>
		<script type="text/javascript">
      // $("#projdata@number").hide().fadeOut();
		</script>
	endforeach
	</ol>
endif