<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>@name's Portfolio </title>
		<?php
		// TODO Fix atom or change to RSS
		?>
		<link rel="alternate" type="application/atom+xml" href="@root_path/feed/">
		<link rel="stylesheet" href="public/docs/css/screen.css" type="text/css" media="screen">
		<link rel="stylesheet" href="public/docs/css/coda-slider.css" type="text/css" media="screen">
		<script type="text/javascript" src="public/docs/js/jquery.js"></script>	
		<script type="text/javascript" src="public/docs/js/jquery-ui.js"></script>
		<script type="text/javascript" src="public/docs/js/jquery-easing.js"></script>
		<script type="text/javascript" src="public/docs/js/jquery-coda-slider.js"></script>
		<script type="text/javascript" src="public/docs/js/app.js"></script>
	</head>
	<body>
		<div id="container">
			:navigation
			<h1 class="col eight">
				<a href="@root_path">@title</a>
				<strong>@name - @profession</strong>
			</h1>  
			<hr>
			
			
			<div id="content" class="col eight">
			  <?php // TODO Fix img slideshow 
			  ?>
			  :projects
			</div>
			<div class="col four" id="side">
			:about
			<hr>
			:contact
			</div>
			<hr>
      <p id="footer" class="col ten">
        &copy; Copyright @name @current_year <a class="atom-rss" href="@root_path/feed/">RSS</a><br>
				<em>Content managed by <a href="http://www.staceyapp.com">stacey</a></em></p>
		</div>
	</body>
</html>
