<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>@name's Portfolio </title>
		<link rel="stylesheet" href="public/docs/css/screen.css" type="text/css" media="screen">
		<link rel="stylesheet" href="public/docs/css/zoom-image.css" type="text/css" media="screen">
		<script type="text/javascript" src="public/docs/js/jquery.js"></script>	
		<script type="text/javascript" src="public/docs/js/jquery-ui.js"></script>
		<script type="text/javascript" src="public/docs/js/jquery-easing.js"></script>
		<script type="text/javascript" src="public/docs/js/jquery-eye.js"></script>
		<script type="text/javascript" src="public/docs/js/jquery-utils.js"></script>
		<script type="text/javascript" src="public/docs/js/jquery-zoomimage.js"></script>
		<script type="text/javascript" src="public/docs/js/app.js"></script>
	</head>
	<body>
		<div id="container">
			:navigation
			<h1 class="col six">
				<a href="@root_path">@title</a>
				<strong>@tagline</strong>
				<?php
				// You can also put tagline here
				?>
			</h1>  
			<hr class="small">
			
			
			<div id="content" class="col eight">
			  :projects
			  <hr>
			  :skills
			</div>
			<div class="col four" id="side">
			:about
			<hr>
			:contact
			<hr>
			:text
			</div>
			<hr>
      <p id="footer" class="col ten">
        &copy; Copyright @name @current_year <a class="atom-rss" href="@root_path/feed/">RSS</a><br>
				<em>Content managed by <a href="http://github.com/madamo/staceys-mom">stacey's mom</a></em></p>
		</div>
	</body>
</html>
